:root {
  --text-title: #212121;
  --text-main: #757575;
  --text-white: #ffffff;
  --text-footer: #FFFFFF 60 %;
}

p {
  color: var(--text-main)
}

.white {
  color: var(--text-white)
}

.text {
  color: var(--text-main)
}

h2, h3 {
  color: var(--text-title)
}

.accent {
  color: #2196F3;
}

a.down-contacts {
  color: var(--text-footer)
}

header a {
  color: var(--text-title)
}

body {
  font-family: 'Roboto', sans-serif;
}

.link:hover,
.link:focus {
  color: #2196F3
}

a.link.current {
  color: #2196F3
}

button.white {
  background: #2196F3;
}

.hero {
  background: #2F303A;
}

footer {
  background: #2F303A;
}

.buttons {
  background: #F5F4FA;
}

.buttons:hover,
.buttons:focus {
  background: #2196F3;
  color: #ffffff
}

.our-team {
  background: #F5F4FA
}